drive-tv-app.md
.env
credentials.json
bugreport-AndroidTV-2026-02-23-04-34-56-ee43cb1e-87b2-420c-99be-10ed12f46197/
bugreport_extracted/
crash.log
generate_icons.ps1
generate_icons.py
DriveTVApp/build_log.txt
DriveTVApp/app/src/main/res/raw/drivetv-key.json
